@import "./assets/fonts/gordita/gordita.css";
@import "~react-image-gallery/styles/css/image-gallery.css";

body {
    font-family: 'Gordita Regular', sans-serif;
    width: 100%;
    height: 100%;
}

label {
    display: block;
    margin-top: 10px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Gordita Medium', sans-serif;
}

/*
Container
 */

.swapt-container {
    padding: 2rem;
    background-color: #F6F6F6;
    border-radius: .8rem;
    margin-bottom: 2rem;
    box-shadow: 0 4px 8px 0 #DFDFDF, 0 6px 20px 0 #DFDFDF;
}

.swapt-container-white {
    padding: 2rem;
    background-color: #ffffff;
    border-radius: .8rem;
    margin-bottom: 2rem;
    box-shadow: 0 4px 8px 0 #DFDFDF, 0 6px 20px 0 #DFDFDF;
}

/*
Buttons
 */

.btn-primary:hover {
    background-color: #0092D0;
    border-color: #0092D0;
}

.btn-primary {
    color: #fff;
    background-color: #009EE0;
    border-color: #009EE0;
    border-radius: 10px;
}

.btn-primary:hover {
    color: #fff;
    background-color: #009EE0;
    border-color: #009EE0;
}

.btn-primary:focus, .btn-primary.focus {
    color: #fff;
    background-color: #009EE0;
    border-color: #009EE0;
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.btn-primary.disabled, .btn-primary:disabled {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #009EE0;
    border-color: #005cbf;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.btn-primary:hover {
    background-color: #0092D0;
    border-color: #0092D0;
}

.btn-secondary {
    color: #fff;
    border-radius: 10px;
}  


.btn-information {
    width:80px;
    height: 80px;
    background-color: #F6F6F6;
    border-radius: .8rem;
    box-shadow: 0 4px 8px 0 #DFDFDF, 0 6px 20px 0 #DFDFDF;
    border: none;
}

.btn-information:focus{
    background-color: #F6F6F6;
    border-color: #F6F6F6;
} 

.card-container.card {
    max-width: 350px !important;
    padding: 40px 40px;
}

.card {
    background-color: #f7f7f7;
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 50px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.filterCard {
    background-color: #f7f7f7;
    padding: 10px 30px 10px;
    margin-right: 80px;
    border-radius: 2px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.filterCard-container {
    max-width: 300px !important;
    min-width: 300px;
}

.filterNotification {
    max-width: 250px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}


.profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.rowC {
    display: flex;
    flex-direction: row;
}

.card_image {
    padding: 0;
    background-color: #eee;
}

.card_body {
    font-size: 1.3rem;
    font-weight: 300;
    padding-top: 12px;
    padding-bottom: 10px;
}

.card_body .flex_space_between {
    display: flex;
    justify-content: space-between;
}

.truncate_title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/*
List
 */

.list-group {
    border-radius: .8rem;
}

.list-group-item.active {
    background-color: #009EE0;
    border-color: #009EE0;
}

.listing-item a:hover, .listing-item a {
    color: #000;
    text-decoration: none;
}

.listing-item .price, .listing-item  .size {
    color: #009EE0;
    font-weight: bold;
}

/*
Navigation Bar
 */

nav a {
    color: #212529;
}

nav .nav-item {
    font-family: 'Gordita Medium', sans-serif;
}
nav .nav-profile-picture {
    border-radius: 50%;
    margin: 0 10px 0 0;
    height: 39px;
    width: 39px;
}

/**
Page Header
 */

header.page-header{
    background: #0092D0;
    width: 100%;
    height: 420px;
    margin-bottom: 2rem;
}

header .page-header-text {
    font-family: 'Gordita Medium', sans-serif;
    width: 100%;
    top: 370px;
    position: absolute;
    overflow: visible;
    white-space: nowrap;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    color: #ffffff;
}

header .page-header-subtext {
    width: 100%;
    top: 340px;
    position: absolute;
    overflow: visible;
    white-space: nowrap;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: #ffffff;
}

.progress-bar {
    background-color: #009EE0;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.verified-user-logo {
    height: 22px;
    padding-left: 8px;
}

/*
Home page
*/
.container-start {
    margin-top: 5rem;
}
.start-big-text {
    font-family: 'Gordita Medium', sans-serif;
    font-size: 40px;
    font-weight: bold;
}
.start-sub-text {
    font-family: 'Gordita Medium', sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.contact-clean {
    background: #f1f7fc;
    padding: 80px 0;
}

.card-title {
    font-size: 17px;
}

@media (max-width: 767px) {
    .contact-clean {
        padding: 20px 0;
    }
}

.contact-clean form {
    max-width: 480px;
    width: 90%;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 40px;
    border-radius: 4px;
    color: #505e6c;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

@media (max-width: 767px) {
    .contact-clean form {
        padding: 30px;
    }
}

.contact-clean h2 {
    margin-top: 5px;
    font-weight: bold;
    font-size: 28px;
    margin-bottom: 36px;
    color: inherit;
}

.contact-clean .form-group:last-child {
    margin-bottom: 5px;
}

.contact-clean form .form-control {
    background: #fff;
    border-radius: 2px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05);
    outline: none;
    color: inherit;
    padding-left: 12px;
    height: 42px;
}

.contact-clean form .form-control:focus {
    border: 1px solid #b2b2b2;
}

.contact-clean form textarea.form-control {
    min-height: 100px;
    max-height: 260px;
    padding-top: 10px;
    resize: vertical;
}

.contact-clean form .btn {
    padding: 16px 32px;
    border: none;
    background: none;
    box-shadow: none;
    text-shadow: none;
    opacity: 0.9;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 0.4px;
    line-height: 1;
    outline: none !important;
}

.contact-clean form .btn:hover {
    opacity: 1;
}

.contact-clean form .btn:active {
    transform: translateY(1px);
}

.contact-clean form .btn-primary {
    background-color: #055ada !important;
    margin-top: 15px;
    color: #fff;
}

/*
Accommodation detail
*/

.accommodation .profile-img {
    max-width: 200px;
    width: 100%;
    display: block;
    border-radius: 50%;
}

/*
Messages
 */

.message-container {
    height: 600px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    padding: 5px 10px;
}

.message {
    align-self: flex-start;
    width: 80%;
    color: #009EE0;
    background-color: #ffffff;
    border: #ffffff;
    padding: 4px;
    border-radius: 4px;
    margin: 5px 0;
}

.message-self {
    align-self: flex-end;
    color: #ffffff;
    background-color: #009EE0;
    border-color: #009EE0;
}

.message-username {
    font-size: 12px;
    font-weight: bold;
    color: #000000;
}

.message-text {
    font-size: 15px;
}

.message-input {
    align-self: center;
    width: 80%;
    color: #000000;
    background-color: #ffffff;
    border: #ffffff;
    padding: 4px;
    border-radius: 4px;
    margin: 5px 0;
}

/*
Footer
*/

.footer {
    padding: 50px 0;
    color: #f0f9ff;
    background-color: #009EE0;
}

.footer h3 {
    margin-top: 0;
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 16px;
}

.footer ul {
    padding: 0;
    list-style: none;
    line-height: 1.6;
    font-size: 14px;
    margin-bottom: 0;
}

.footer ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.6;
}

.footer ul a:hover {
    opacity: 0.8;
}

@media (max-width: 767px) {
    .footer .item:not(.social) {
        text-align: center;
        padding-bottom: 20px;
    }
}

.footer .item.text {
    margin-bottom: 36px;
}

@media (max-width: 767px) {
    .footer .item.text {
        margin-bottom: 0;
    }
}

.footer .item.text p {
    opacity: 0.6;
    margin-bottom: 0;
}

.footer .item.social {
    text-align: center;
}

@media (max-width: 991px) {
    .footer .item.social {
        text-align: center;
        margin-top: 20px;
    }
}

.footer .item.social > a {
    font-size: 20px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
    margin: 0 8px;
    color: #fff;
    opacity: 0.75;
}

.footer .item.social > a:hover {
    opacity: 0.9;
}

.footer .copyright {
    color: #f0f9ff;
    text-align: center;
    padding-top: 24px;
    font-size: 13px;
    margin-bottom: 0;
}




/* 
Pagination start
*/

.pagination {
    margin: 15px auto;
    display: flex;
    list-style: none;
    outline: none;
  }
  .pagination > .active > a{
    background-color: #009ee0 ;
    border-color: #009ee0 ;
    color: #fff;
  }
  .pagination > li > a{
    border: 1px solid #47ccde ;
    padding: 5px 10px;
    outline: none;
    cursor: pointer;
  }
  .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
    background-color: #009ee0 ;
    border-color: #009ee0;
    outline: none ;
  }
  .pagination > li > a, .pagination > li > span{
    color: #009ee0
  }
  .pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span{
    border-radius: unset
  }

.media img {
    width: 60px;
    height: 60px
}
  /* Pagination end */